/* make sidebar nav vertical */
.navbar-default {
    background-image: -webkit-linear-gradient(#52bad5, #52bad5, #52bad5);
    background-color: #52bad5;
    border: 0px;
}
@media  {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
.menu-option-main a {
    font-size: 15px;
    font-weight: bold;
}
.menu-option {
    margin-bottom: 0px;
    padding: 0px;
}
.menu-option span {
    padding-left: 10%;
}
.menu-option span.glyphicon {
    color: darkgray;
}
.menu-option a {
    width: 100%;
}
.menu-option .btn {
    border: none;
    background-color: white;
    color: gray;
    text-align: left;
    font-weight: 600;
}