<div class="col-sm-2" ng-controller="NavigationController">
    <div class="sidebar-nav">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">{{ collapsedName }}</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <div ng-repeat="menu in sideMenu" class="menu-option-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="" ng-click="collapseMenu($index)">{{ menu.mainOption}}</a>
                        </li>
                        <div class="collapse" id="{{ menu.collapseId }}">
                            <div class="well menu-option" ng-repeat="opt in menu.options">
                                <li><a href="#{{opt.link}}" type="button" class="btn">
                                    <div class="row"><span class="{{opt.icon}}"/><span>{{ opt.option }}</span></div>
                                </a></li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>