<div class="page-header">
    <span><h2>Klienti</h2></span>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label for="searchInput" class="col-sm-1 control-label">Meklēt:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Meklēt" ng-model="searchText">
        </div>
        <button type="button" ng-click="createNewClient()"
                class="btn btn-success float-right">Pievienot jaunu
        </button>
    </div>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>POS nr.</th>
            <th>Reģ.nr.</th>
            <th>Nosaukums</th>
            <th>Adrese</th>
            <th>Kontaktinformācija</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in clients | filter: searchText" ng-click="openClientProfile(client.id)">
            <td><span>{{ client.posNr }}</span></td>
            <td><span>{{ client.regNr }}</span></td>
            <td><span>{{ client.name }}</span></td>
            <td><span>{{ client.address }}</span></td>
            <td><span ng-repeat="contact in client.clientContactInfoList">{{ contact.contact }}<br></span></td>
        </tr>
        </tbody>
    </table>
</div>