<form class="form-group row">
    <div class="col-sm-5">
        <div class="form-group">
            <label for="driverName">Vārds</label>
            <input type="text"
                   class="form-control"
                   id="driverName"
                   placeholder="Vārds"
                   value="{{driver.name}}"
                   ng-model="driver.name"
                   data-ng-readonly="cannotEdit()">
        </div>
        <div class="form-group">
            <label for="driverSurname">Uzvārds</label>
            <input type="text"
                   class="form-control"
                   id="driverSurname"
                   placeholder="Uzvārds"
                   value="{{driver.surname}}"
                   ng-model="driver.surname"
                   data-ng-readonly="cannotEdit()">
        </div>
        <div class="form-group">
            <label for="driverDepartment">Nodaļa</label>
            <select class="form-control"
                    id="driverDepartment"
                    ng-model="driver.department.id"
                    convert-to-number
                    data-ng-readonly="cannotEdit()">
                <option ng-repeat="dep in departments" value="{{dep.id}}">{{dep.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="driverPosition">Amats</label>
            <select class="form-control"
                    id="driverPosition"
                    ng-model="driver.position.code"
                    data-ng-disabled="cannotEdit()">
                <option ng-repeat="pos in positions" value="{{pos.code}}">{{pos.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="driverRegion">Reģions</label>
            <select class="form-control"
                    id="driverRegion"
                    ng-model="driver.region.code"
                    data-ng-disabled="cannotEdit()">
                <option ng-repeat="reg in regions" value="{{reg.code}}">{{reg.name}}</option>
            </select>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox"
                       class="form-check-input"
                       ng-checked="driver.active"
                       ng-model="driver.active"
                       data-ng-disabled="cannotEdit()">
                Aktīvs
            </label>
        </div>
        <div><br>
            <button type="button" class="btn btn-success" ng-click="changeReadonly()" ng-show="readonly">Labot</button>
            <button type="button" class="btn btn-danger" ng-click="deleteDriver(driver.id)"
                    ng-show="readonly && hasPermission('MAIN_OPERATOR')">Dzēst</button>
            <button button-back type="button" class="btn btn-default" ng-show="readonly">Atpakaļ</button>
            <button type="button" class="btn btn-primary" ng-click="updateDriver(driver.id, driver)"
                    ng-show="!readonly">Saglabāt
            </button>
            <button type="button" class="btn btn-default" ng-click="cancelEdit()" ng-show="!readonly">Atcelt
            </button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group" ng-repeat="contact in driver.employeeContactInfoList">
            <label for="contact{{$index}}">Kontaktinformācija</label>
            <div class="row">
                <div class="col-sm-5">
                    <select class="form-control"
                            id="contactType"
                            ng-model="contact.type"
                            data-ng-disabled="readonly">
                        <option ng-repeat="cont in contactInfoTypes" value="{{cont.code}}">{{cont.name}}</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <input type="text"
                           class="form-control"
                           id="contact{{$index}}"
                           value="{{contact.contact}}"
                           ng-model="contact.contact"
                           data-ng-readonly="readonly">
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-danger btn-sm" ng-show="!readonly && (contact.id == null || hasPermission('MAIN_OPERATOR'))"
                            ng-click="deleteContactInfo($index)"><span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right col-sm-1">
        <div class="form-group">
            <label> </label>
            <button type="button" class="btn btn-success" ng-show="!readonly" ng-click="addNewContactInfo()">
                <span class="glyphicon glyphicon-plus"></span> Kontaktinformācija
            </button>
        </div>
    </div>
</form>

<uib-tabset active="active">
    <uib-tab index="0" heading="Pieteiktās problēmas">
        <br/>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="searchInput" class="col-sm-1 control-label">Meklēt:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="searchInput" placeholder="Meklēt" ng-model="searchText">
                </div>
            </div>
        </div>
        <div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Problēmas ID</th>
                    <th>POS nr.</th>
                    <th>Nosaukums</th>
                    <th>Adrese</th>
                    <th>PPR numurs</th>
                    <th>Apraksts</th>
                    <th>Rīcība</th>
                    <th>Iemesls</th>
                    <th>No ka pieņemts</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="problem in problems | filter: searchText" ng-click="openProblemDetails(problem.id)">
                    <td><span>{{ problem.identifier }}</span></td>
                    <td><span>{{ problem.clientPosNr }}</span></td>
                    <td><span>{{ problem.clientName }}</span></td>
                    <td><span>{{ problem.clientAddress }}</span></td>
                    <td><span>{{ problem.invoiceIdentifier }}</span></td>
                    <td><span>{{ problem.description }}</span></td>
                    <td><span>{{ problem.actionName }}</span></td>
                    <td><span>{{ problem.reasonName }}</span></td>
                    <td><span>{{ problem.sourceName }}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
</uib-tabset>