<div class="page-header">
    <span><h2>Šoferi</h2></span>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label for="searchInput" class="col-sm-1 control-label">Meklēt:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Meklēt" ng-model="searchText">
        </div>
        <button type="button" ng-click="createNewEmployee()"
                class="btn btn-success float-right">Pievienot jaunu
        </button>
    </div>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Vārds</th>
            <th>Uzvārds</th>
            <th>Amats</th>
            <th>Reģions</th>
            <th>Kontaktinformācija</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="empl in drivers | filter: searchText" ng-click="openDriverProfile(empl.id)">
            <td><span>{{ empl.name }}</span></td>
            <td><span>{{ empl.surname }}</span></td>
            <td><span>{{ empl.position.name }}</span></td>
            <td><span>{{ empl.region.name }}</span></td>
            <td><span ng-repeat="contact in empl.employeeContactInfoList">{{ contact.contact }}<br></span></td>
        </tr>
        </tbody>
    </table>
</div>