<form class="form-group">
    <div class="col-sm-5">
        <div class="form-group">
            <label for="managerName">Vārds</label>
            <input type="text"
                   class="form-control"
                   id="managerName"
                   placeholder="Vārds"
                   value="{{manager.name}}"
                   ng-model="manager.name"
                   data-ng-readonly="cannotEdit()">
        </div>
        <div class="form-group">
            <label for="managerSurname">Uzvārds</label>
            <input type="text"
                   class="form-control"
                   id="managerSurname"
                   placeholder="Uzvārds"
                   value="{{manager.surname}}"
                   ng-model="manager.surname"
                   data-ng-readonly="cannotEdit()">
        </div>
        <div class="form-group">
            <label for="managerDepartment">Nodaļa</label>
            <input type="text"
                   class="form-control"
                   id="managerDepartment"
                   placeholder="Nodaļa"
                   value="{{manager.department.name}}"
                   ng-model="manager.department.name"
                   disabled>
        </div>
        <div class="form-group">
            <label for="managerPosition">Amats</label>
            <select class="form-control"
                    id="managerPosition"
                    ng-model="manager.position.code"
                    data-ng-disabled="cannotEdit()">
                <option ng-repeat="pos in positions" value="{{pos.code}}">{{pos.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="managerRegion">Reģions</label>
            <select class="form-control"
                    id="managerRegion"
                    ng-model="manager.region.code"
                    data-ng-disabled="cannotEdit()">
                <option ng-repeat="reg in regions" value="{{reg.code}}">{{reg.name}}</option>
            </select>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox"
                       class="form-check-input"
                       ng-checked="manager.active"
                       ng-model="manager.active"
                       data-ng-disabled="cannotEdit()">
                Aktīvs
            </label>
        </div>
        <div><br>
            <button type="button" class="btn btn-success" ng-click="changeReadonly()" ng-show="readonly">Labot</button>
            <button type="button" class="btn btn-danger" ng-click="deleteManager(manager.id)"
                    ng-show="readonly && hasPermission('MAIN_OPERATOR')">Dzēst</button>
            <button button-back type="button" class="btn btn-default" ng-show="readonly">Atpakaļ</button>
            <button type="button" class="btn btn-primary" ng-click="updateManager(manager.id, manager)"
                    ng-show="!readonly">Saglabāt
            </button>
            <button type="button" class="btn btn-default" ng-click="cancelEdit()" ng-show="!readonly">Atcelt
            </button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group" ng-repeat="contact in manager.employeeContactInfoList">
            <label for="contact{{$index}}">Kontaktinformācija</label>
            <div class="row">
                <div class="col-sm-5">
                    <select class="form-control"
                            id="contactType"
                            ng-model="contact.type"
                            data-ng-disabled="readonly">
                        <option ng-repeat="cont in contactInfoTypes" value="{{cont.code}}">{{cont.name}}</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <input type="text"
                           class="form-control"
                           id="contact{{$index}}"
                           value="{{contact.contact}}"
                           ng-model="contact.contact"
                           data-ng-readonly="readonly">
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-danger btn-sm" ng-show="!readonly && (contact.id == null || hasPermission('MAIN_OPERATOR'))"
                            ng-click="deleteContactInfo($index)"><span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right col-sm-1">
        <div class="form-group">
            <label> </label>
            <button type="button" class="btn btn-success" ng-show="!readonly" ng-click="addNewContactInfo()">
                <span class="glyphicon glyphicon-plus"></span> Kontaktinformācija
            </button>
        </div>
    </div>
</form>