<form class="form-group">
    <div class="col-sm-5">
        <div class="form-group">
            <label for="newClientPosNr">POS nr.</label>
            <input type="text"
                   class="form-control"
                   id="newClientPosNr"
                   placeholder="POS nr."
                   value="{{newClient.posNr}}"
                   ng-model="newClient.posNr">
        </div>
        <div class="form-group">
            <label for="newClientRegNr">Reģ.nr</label>
            <input type="text"
                   class="form-control"
                   id="newClientRegNr"
                   placeholder="Reģistrācijas numurs"
                   value="{{newClient.regNr}}"
                   ng-model="newClient.regNr">
        </div>
        <div class="form-group">
            <label for="newClientName">Nosaukums</label>
            <input type="text"
                   class="form-control"
                   id="newClientName"
                   placeholder="Nosaukums"
                   value="{{newClient.name}}"
                   ng-model="newClient.name">
        </div>
        <div class="form-group">
            <label for="newClientAddress">Adrese</label>
            <input type="text"
                   class="form-control"
                   id="newClientAddress"
                   placeholder="Iela, novads, pilsēta, indeks..."
                   value="{{newClient.address}}"
                   ng-model="newClient.address">
        </div>
        <div class="form-group">
            <label for="newClientRegion">Reģions</label>
            <select class="form-control"
                    id="newClientRegion"
                    ng-model="newClient.region.code">
                <option ng-repeat="reg in regions" value="{{reg.code}}">{{reg.name}}</option>
            </select>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox"
                       class="form-check-input"
                       ng-checked="newClient.active"
                       ng-model="newClient.active">
                Aktīvs
            </label>
        </div>
        <div><br>
            <button type="button" class="btn btn-primary" ng-click="saveNewClient()">Saglabāt</button>
            <button button-back type="button" class="btn btn-default">Atcelt</button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group" ng-repeat="contact in newClient.clientContactInfoList">
            <label for="contact{{$index}}">Kontaktinformācija</label>
            <div class="row">
                <div class="col-sm-3">
                    <input type="text"
                           class="form-control"
                           id="contactPerson"
                           value="{{contact.contactPerson}}"
                           ng-model="contact.contactPerson">
                </div>
                <div class="col-sm-4">
                    <select class="form-control"
                            id="contactType"
                            ng-model="contact.type">
                        <option ng-repeat="cont in contactInfoTypes" value="{{cont.code}}">{{cont.name}}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="text"
                           class="form-control"
                           id="contact{{$index}}"
                           value="{{contact.contact}}"
                           ng-model="contact.contact">
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-danger btn-sm" ng-click="deleteContactInfo($index)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right col-sm-1">
        <div class="form-group">
            <label> </label>
            <button type="button" class="btn btn-success" ng-click="addNewContactInfo()">
                <span class="glyphicon glyphicon-plus"></span> Kontaktinformācija
            </button>
        </div>
    </div>
</form>