<form class="form-group">
    <div class="col-sm-5">
        <div class="form-group">
            <label for="employeeName">Vārds</label>
            <input type="text"
                   class="form-control"
                   id="employeeName"
                   placeholder="Vārds"
                   value="{{newEmployee.name}}"
                   ng-model="newEmployee.name">
        </div>
        <div class="form-group">
            <label for="employeeSurname">Uzvārds</label>
            <input type="text"
                   class="form-control"
                   id="employeeSurname"
                   placeholder="Uzvārds"
                   value="{{newEmployee.surname}}"
                   ng-model="newEmployee.surname">
        </div>
        <div class="form-group">
            <label for="employeeDepartment">Nodaļa</label>
            <select class="form-control"
                    id="employeeDepartment"
                    ng-model="newEmployee.department.id">
                <option ng-repeat="dep in departments" value="{{dep.id}}">{{dep.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="employeePosition">Amats</label>
            <select class="form-control"
                    id="employeePosition"
                    ng-model="newEmployee.position.code">
                <option ng-repeat="pos in positions" value="{{pos.code}}">{{pos.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="employeeRegion">Reģions</label>
            <select class="form-control"
                    id="employeeRegion"
                    ng-model="newEmployee.region.code">
                <option ng-repeat="reg in regions" value="{{reg.code}}">{{reg.name}}</option>
            </select>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox"
                       class="form-check-input"
                       checked
                       ng-model="newEmployee.active">
                Aktīvs
            </label>
        </div>
        <div><br>
            <button type="button" class="btn btn-primary" ng-click="saveNewEmployee()">Saglabāt</button>
            <button button-back type="button" class="btn btn-default">Atcelt</button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group" ng-repeat="contact in newEmployee.employeeContactInfoList">
            <label for="contact{{$index}}">Kontaktinformācija</label>
            <div class="row">
                <div class="col-sm-5">
                    <select class="form-control"
                            id="contactType"
                            ng-model="contact.type">
                        <option ng-repeat="cont in contactInfoTypes" value="{{cont.code}}">{{cont.name}}</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <input type="text"
                           class="form-control"
                           id="contact{{$index}}"
                           value="{{contact.contact}}"
                           ng-model="contact.contact">
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-danger btn-sm" ng-click="deleteContactInfo($index)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right col-sm-1">
        <div class="form-group">
            <label> </label>
            <button type="button" class="btn btn-success" ng-click="addNewContactInfo()">
                <span class="glyphicon glyphicon-plus"></span> Kontaktinformācija
            </button>
        </div>
    </div>
</form>