<form class="form-group">
    <div class="form-group" ng-repeat="problem in newProblemsList track by $index">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="invoiceNumber{{$index}}">PPR numurs</label>
                <input type="text"
                       ng-change="fillPprData(problem, problem.invoiceIdentifier)"
                       class="form-control"
                       id="invoiceNumber{{$index}}"
                       placeholder="PPR numurs"
                       value="{{problem.invoiceIdentifier}}"
                       ng-model="problem.invoiceIdentifier">
            </div>
            <div class="form-group">
                <label for="invoiceDate{{$index}}">PPR datums</label>
                <input type="date"
                       class="form-control"
                       id="invoiceDate{{$index}}"
                       placeholder="yyyy-MM-dd"
                       value="{{problem.invoiceDate | date:'yyyy-MM-dd'}}"
                       ng-model="problem.invoiceDate">
            </div>
            <div class="form-group">
                <label for="clientPosNr{{$index}}">POS numurs</label>
                <input type="text"
                       ng-change="fillClientData(problem, problem.clientPosNr)"
                       class="form-control"
                       id="clientPosNr{{$index}}"
                       placeholder="POS numurs"
                       value="{{problem.clientPosNr}}"
                       ng-model="problem.clientPosNr">
            </div>
            <div class="form-group">
                <label for="clientName{{$index}}">Klienta nosaukums</label>
                <input type="text"
                       class="form-control"
                       id="clientName{{$index}}"
                       placeholder="Klienta nosaukums"
                       value="{{problem.clientName}}"
                       ng-model="problem.clientName">
            </div>
            <div class="form-group">
                <label for="clientAddress{{$index}}">Klienta adrese</label>
                <input type="text"
                       class="form-control"
                       id="clientAddress{{$index}}"
                       placeholder="Klienta adrese"
                       value="{{problem.clientAddress}}"
                       ng-model="problem.clientAddress">
            </div>
            <div class="form-group">
                <label for="project{{$index}}">Projekts</label>
                <select class="form-control"
                        id="project{{$index}}"
                        convert-to-number
                        ng-model="problem.projectId">
                    <option ng-repeat="proj in projects" value="{{proj.id}}">{{proj.code}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="warehouse{{$index}}">Noliktava</label>
                <select class="form-control"
                        id="warehouse{{$index}}"
                        convert-to-number
                        ng-model="problem.warehouseId">
                    <option ng-repeat="warh in warehouses" value="{{warh.id}}">{{warh.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="backInvIdent{{$index}}">Atgriešanas PPR</label>
                <input type="text"
                       class="form-control"
                       id="backInvIdent{{$index}}"
                       placeholder="Atgriešanas PPR"
                       value="{{problem.backInvIdent}}"
                       ng-model="problem.backInvIdent">
            </div>
            <div class="form-group">
                <label for="informed{{$index}}"class="form-check-label">
                    <input id="informed{{$index}}"
                           type="checkbox"
                           class="form-check-input"
                           ng-checked="problem.informed"
                           ng-model="problem.informed">
                    Informēt menedžeri
                </label>
            </div>


        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="description{{$index}}">Apraksts</label>
                <textarea type="text" rows="5"
                          class="form-control"
                          id="description{{$index}}"
                          placeholder="Apraksts"
                          ng-model="problem.description" >{{problem.description}}"</textarea>
            </div>
            <div class="form-group">
                <label for="action{{$index}}">Rīcība</label>
                <select class="form-control"
                        id="action{{$index}}"
                        ng-model="problem.action">
                    <option ng-repeat="act in actions" value="{{act.code}}">{{act.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="reason{{$index}}">Iemesls</label>
                <select class="form-control"
                        id="reason{{$index}}"
                        ng-model="problem.reason">
                    <option ng-repeat="reas in reasons" value="{{reas.code}}">{{reas.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="source{{$index}}">No ka pieņemts</label>
                <select class="form-control"
                        id="source{{$index}}"
                        ng-model="problem.source">
                    <option ng-repeat="src in sources" value="{{src.code}}">{{src.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="respDepartment{{$index}}">Atbildīgs</label>
                <select class="form-control"
                        id="respDepartment{{$index}}"
                        ng-model="problem.respDepartment">
                    <option ng-repeat="resp in respDepartments" value="{{resp.code}}">{{resp.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="closeDate{{$index}}">Noslēguma datums</label>
                <input type="date"
                       class="form-control"
                       id="closeDate{{$index}}"
                       placeholder="yyyy-MM-dd"
                       value="{{problem.closeDate | date:'yyyy-MM-dd'}}"
                       ng-model="problem.closeDate">
            </div>
            <div class="form-group">
                <label for="driver{{$index}}">Šoferis</label>
                <select class="form-control"
                        id="driver{{$index}}"
                        convert-to-number
                        ng-model="problem.driverId">
                    <option ng-repeat="drv in drivers" value="{{drv.id}}">{{drv.name}} {{drv.surname}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="manager{{$index}}">Menedžeris</label>
                <select class="form-control"
                        id="manager{{$index}}"
                        convert-to-number
                        ng-model="problem.managerId">
                    <option ng-repeat="mng in managers" value="{{mng.id}}">{{mng.name}} {{mng.surname}}</option>
                </select>
            </div>
        </div>
    </div>
    <!--<div class="float-right col-sm-1">-->
        <!--<div class="form-group">-->
            <!--<label> </label>-->
            <!--<button type="button" class="btn btn-success" ng-click="addNewProblem()">-->
                <!--<span class="glyphicon glyphicon-plus"></span>-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
    <div><br>
        <button type="button" class="btn btn-primary" ng-click="saveProblems()">Saglabāt</button>
        <button button-back type="button" class="btn btn-default">Atcelt</button>
    </div>
</form>