<form class="form-group">
    <div class="col-sm-5">
        <div class="form-group">
            <label for="userDepartment">Nodaļa</label>
            <select class="form-control"
                    id="userDepartment"
                    ng-change="fetchAllEmployees()"
                    ng-model="newUser.departmentId">
                <option ng-repeat="dep in departments" value="{{dep.id}}">{{dep.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="employee">Darbinieks</label>
            <select class="form-control"
                    id="employee"
                    convert-to-number
                    ng-model="newUser.employeeId">
                <option ng-repeat="empl in employees" value="{{empl.id}}">{{empl.name}} {{empl.surname}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="username">Lietotājvārds</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   value="{{newUser.username}}"
                   ng-model="newUser.username">
        </div>
        <div class="form-group">
            <label for="role">Loma</label>
            <select class="form-control"
                    id="role"
                    ng-model="newUser.role">
                <option ng-repeat="role in roles" value="{{role}}">{{role}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="password">Parole</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   value="{{newUser.password}}"
                   ng-model="newUser.password">
        </div>
        <div class="form-group">
            <label for="confirm">Atkārtot paroli</label>
            <input type="password"
                   class="form-control"
                   id="confirm"
                   value="{{newUser.confirmedPassword}}"
                   ng-model="newUser.confirmedPassword">
        </div>

        <div><br>
            <button type="button" class="btn btn-primary" ng-click="saveNewUser()">Saglabāt</button>
            <button button-back type="button" class="btn btn-default">Atcelt</button>
        </div>
    </div>
</form>