<form class="form-group row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="problemIdentifier">Identifikators</label>
            <input type="text"
                   class="form-control"
                   id="problemIdentifier"
                   placeholder="Identifikators"
                   value="{{problem.identifier}}"
                   ng-model="problem.identifier"
                   data-ng-readonly="true">
        </div>
        <div class="form-group">
            <label for="invoiceNumber">PPR numurs</label>
            <input type="text"
                   class="form-control"
                   id="invoiceNumber"
                   placeholder="PPR numurs"
                   value="{{problem.invoiceIdentifier}}"
                   ng-model="problem.invoiceIdentifier"
                   data-ng-readonly="true">
        </div>
        <div class="form-group">
            <label for="invoiceDate">PPR datums</label>
            <input type="date"
                   class="form-control"
                   id="invoiceDate"
                   placeholder="yyyy-MM-dd"
                   value="{{problem.invoiceDate | date:'yyyy-MM-dd'}}"
                   ng-model="problem.invoiceDate"
                   data-ng-readonly="true">
        </div>
        <div class="form-group">
            <label for="clientPosNr">POS numurs</label>
            <input type="text"
                   class="form-control"
                   id="clientPosNr"
                   placeholder="POS numurs"
                   value="{{problem.clientPosNr}}"
                   ng-model="problem.clientPosNr"
                   data-ng-readonly="true">
        </div>
        <div class="form-group">
            <label for="clientName">Klienta nosaukums</label>
            <input type="text"
                   class="form-control"
                   id="clientName"
                   placeholder="Klienta nosaukums"
                   value="{{problem.clientName}}"
                   ng-model="problem.clientName"
                   data-ng-readonly="true">
        </div>
        <div class="form-group">
            <label for="clientAddress">Klienta adrese</label>
            <input type="text"
                   class="form-control"
                   id="clientAddress"
                   placeholder="Klienta adrese"
                   value="{{problem.clientAddress}}"
                   ng-model="problem.clientAddress"
                   data-ng-readonly="true">
        </div>
        <div class="form-group">
            <label for="project">Projekts</label>
            <select class="form-control"
                    id="project"
                    convert-to-number
                    ng-model="problem.projectId"
                    data-ng-disabled="canEdit()">
                <option ng-repeat="proj in projects" value="{{proj.id}}">{{proj.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="warehouse">Noliktava</label>
            <select class="form-control"
                    id="warehouse"
                    convert-to-number
                    ng-model="problem.warehouseId"
                    data-ng-disabled="canEdit()">
                <option ng-repeat="warh in warehouses" value="{{warh.id}}">{{warh.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="backInvIdent">Atgriešanas PPR</label>
            <input type="text"
                   class="form-control"
                   id="backInvIdent"
                   placeholder="Atgriešanas PPR"
                   value="{{problem.backInvIdent}}"
                   ng-model="problem.backInvIdent"
                   data-ng-readonly="canEdit()">
        </div>

        <div>
            <button type="button" class="btn btn-success float-left" ng-click="changeReadonly()" ng-show="readonly">
                Labot
            </button>
            <button type="button" class="btn btn-danger" ng-click="deleteProblem(problem.id)"
                    ng-show="readonly && hasPermission('MAIN_OPERATOR')">Dzēst
            </button>
            <button button-back type="button" class="btn btn-default" ng-show="readonly">Atpakaļ</button>
            <button type="button" class="btn btn-primary" ng-click="updateProblem(problem.id, problem)"
                    ng-show="!readonly">Saglabāt
            </button>
            <button type="button" class="btn btn-default" ng-click="cancelEdit()" ng-show="!readonly">Atcelt
            </button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="description">Apraksts</label>
            <textarea type="text" rows="5"
                      class="form-control"
                      id="description"
                      placeholder="Apraksts"
                      ng-model="problem.description"
                      data-ng-readonly="canEdit()">{{problem.description}}"</textarea>
        </div>
        <div class="form-group">
            <label for="action">Rīcība</label>
            <select class="form-control"
                    id="action"
                    ng-model="problem.action"
                    data-ng-disabled="canEdit()">
                <option ng-repeat="act in actions" value="{{act.code}}">{{act.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="reason">Iemesls</label>
            <select class="form-control"
                    id="reason"
                    ng-model="problem.reason"
                    data-ng-disabled="canEdit()">
                <option ng-repeat="reas in reasons" value="{{reas.code}}">{{reas.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="source">No ka pieņemts</label>
            <select class="form-control"
                    id="source"
                    ng-model="problem.source"
                    data-ng-disabled="canEdit()">
                <option ng-repeat="src in sources" value="{{src.code}}">{{src.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="respDepartment">Atbildīgs</label>
            <select class="form-control"
                    id="respDepartment"
                    ng-model="problem.respDepartment"
                    data-ng-disabled="readonly">
                <option ng-repeat="resp in respDepartments" value="{{resp.code}}">{{resp.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="closeDate">Noslēguma datums</label>
            <input type="date"
                   class="form-control"
                   id="closeDate"
                   placeholder="yyyy-MM-dd"
                   value="{{problem.closeDate | date:'yyyy-MM-dd'}}"
                   ng-model="problem.closeDate"
                   data-ng-readonly="readonly">
        </div>
        <div class="form-group">
            <label for="driver">Šoferis</label>
            <select class="form-control"
                    id="driver"
                    convert-to-number
                    ng-model="problem.driverId"
                    data-ng-disabled="canEdit()">
                <option ng-repeat="drv in drivers" value="{{drv.id}}">{{drv.name}} {{drv.surname}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="manager">Menedžeris</label>
            <select class="form-control"
                    id="manager"
                    convert-to-number
                    ng-model="problem.managerId"
                    data-ng-disabled="canEdit()">
                <option ng-repeat="mng in managers" value="{{mng.id}}">{{mng.name}} {{mng.surname}}</option>
            </select>
        </div>
    </div>
</form>

<uib-tabset active="active">
    <uib-tab index="0" heading="Komentāri">
        <div class="row container-fluid" ng-show="newComment != null">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="comment">Komentārs</label>
                        <textarea type="text"
                               class="form-control"
                               id="comment"
                               value="{{newComment.comText}}"
                               ng-model="newComment.comText"></textarea>
                    </div>
                </div>
                <br/>
                <div>
                    <button type="button" class="btn btn-primary"
                            ng-show="newComment != null"
                            ng-click="saveOrUpdateComment()">Saglabāt
                    </button>
                    <button type="button" class="btn btn-default"
                            ng-show="newComment != null"
                            ng-click="cancelEditComment()">Atcelt
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="searchInput" class="col-sm-1 control-label">Meklēt:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="searchInput" placeholder="Meklēt" ng-model="searchText">
                </div>
                <button type="button" ng-click="addNewComment()"
                        class="btn btn-success float-right">Pievienot jaunu
                </button>
            </div>
        </div>
        <div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Datums</th>
                    <th>Lietotājs</th>
                    <th>Amats</th>
                    <th>Nodaļa</th>
                    <th width="40%">Teksts</th>
                    <th width="10%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="com in comments | filter: searchText">
                    <td><span>{{ com.date | date : 'yyyy-MM-dd HH:mm:ss'}}</span></td>
                    <td><span>{{ com.authorName }} {{ com.authorSurname }}</span></td>
                    <td><span>{{ com.authorPosition }}</span></td>
                    <td><span>{{ com.authorDepartment }}</span></td>
                    <td><span>{{ com.comText }}</span></td>
                    <td>
                        <button ng-show="com.userId == userId" type="button" title="Labot"
                                ng-click="editComment(com)" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button ng-show="com.userId == userId" type="button" title="Dzēst"
                                ng-click="deleteComment(com.id)" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
</uib-tabset>

