<div class="page-header">
    <span><h2>Pieteiktās problēmas</h2></span>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label for="searchInput" class="col-sm-1 control-label">Meklēt:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Meklēt" ng-model="searchText">
        </div>
        <button type="button" ng-click="registerNewProblem()"
                class="btn btn-success float-right">Pievienot jaunu
        </button>
    </div>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Problēmas ID</th>
            <th>POS nr.</th>
            <th>Nosaukums</th>
            <th>Adrese</th>
            <th>PPR numurs</th>
            <th>Apraksts</th>
            <th>Rīcība</th>
            <th>Iemesls</th>
            <th>No ka pieņemts</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="problem in problems | filter: searchText" ng-click="openProblemDetails(problem.id)">
            <td><span>{{ problem.identifier }}</span></td>
            <td><span>{{ problem.clientPosNr }}</span></td>
            <td><span>{{ problem.clientName }}</span></td>
            <td><span>{{ problem.clientAddress }}</span></td>
            <td><span>{{ problem.invoiceIdentifier }}</span></td>
            <td><span>{{ problem.description }}</span></td>
            <td><span>{{ problem.actionName }}</span></td>
            <td><span>{{ problem.reasonName }}</span></td>
            <td><span>{{ problem.sourceName }}</span></td>
        </tr>
        </tbody>
    </table>
</div>