<div class="page-header">
    <span><h2>Projekti</h2></span>
</div>
<div class="row container-fluid" ng-show="editableProjects.length != 0">
    <div class="form-horizontal">
        <div ng-repeat="project in editableProjects">
            <div class="row">
                <div class="col-sm-5">
                    <label for="projectCode{{$index}}">Kods</label>
                    <input type="text"
                           class="form-control"
                           id="projectCode{{$index}}"
                           value="{{project.code}}"
                           ng-model="project.code">
                </div>
                <div class="col-sm-5">
                    <label for="projectDescr{{$index}}">Apraksts</label>
                    <input type="text"
                           class="form-control"
                           id="projectDescr{{$index}}"
                           value="{{project.description}}"
                           ng-model="project.description">
                </div>
            </div>
        </div>
        <br>
        <div>
            <button type="button" class="btn btn-primary"
                    ng-show="editableProjects.length != 0 && hasPermission('MAIN_OPERATOR')"
                    ng-click="saveOrUpdateProjects()">Saglabāt
            </button>
            <button type="button" class="btn btn-default"
                    ng-show="editableProjects.length != 0 && hasPermission('MAIN_OPERATOR')"
                    ng-click="cancelEdit()">Atcelt
            </button>
        </div>
    </div>
</div>
<br>
<div class="form-horizontal">
    <div class="form-group">
        <label for="searchInput" class="col-sm-1 control-label">Meklēt:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Meklēt" ng-model="searchText">
        </div>
        <button type="button" ng-click="createNewProject()" ng-show="hasPermission('MAIN_OPERATOR')"
                class="btn btn-success float-right">Pievienot jaunu
        </button>
    </div>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Kods</th>
            <th>Apraksts</th>
            <th>Darbības</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects | filter: searchText">
            <td><span>{{ project.code }}</span></td>
            <td><span>{{ project.description }}</span></td>
            <td><span>
                <button ng-show="hasPermission('MAIN_OPERATOR')" type="button"
                        ng-click="editProject(project)" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-show="hasPermission('MAIN_OPERATOR')" type="button"
                        ng-click="deleteProject(project.id)" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span></td>
        </tr>
        </tbody>
    </table>
</div>