<div class="page-header">
    <span><h2>Pārplānotās pavadzīmes</h2></span>
</div>
<div class="row container-fluid" ng-show="editableInvoice != null">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-sm-4">
                <label for="invoiceIdentifier">PPR numurs</label>
                <input type="text"
                       class="form-control"
                       id="invoiceIdentifier"
                       value="{{editableInvoice.invoiceIdentifier}}"
                       ng-model="editableInvoice.invoiceIdentifier"
                       data-ng-readonly="true">
            </div>
            <div class="col-sm-4">
                <label for="deliveryDate">Piegādes datums</label>
                <input type="date"
                       class="form-control"
                       id="deliveryDate"
                       value="{{editableInvoice.deliveryDate}}"
                       ng-model="editableInvoice.deliveryDate">
            </div>
            <div class="col-sm-4">
                <label for="comment">Komentārs</label>
                <input type="text"
                       class="form-control"
                       id="comment"
                       value="{{editableInvoice.comment}}"
                       ng-model="editableInvoice.comment">
            </div>
        </div>
        <br>
        <div>
            <button type="button" class="btn btn-primary"
                    ng-show="editableInvoice != null && (hasPermission('MAIN_OPERATOR') || hasPermission('OPERATOR'))"
                    ng-click="updateReplannedInvoice()">Saglabāt
            </button>
            <button type="button" class="btn btn-default"
                    ng-show="editableInvoice != null && (hasPermission('MAIN_OPERATOR') || hasPermission('OPERATOR'))"
                    ng-click="cancelEdit()">Atcelt
            </button>
        </div>
    </div>
</div>
<br>
<div class="form-horizontal">
    <div class="form-group">
        <label for="searchInput" class="col-sm-1 control-label">Meklēt:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Meklēt" ng-model="searchText">
        </div>
    </div>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Reģ. datums</th>
            <th>PPR numurs</th>
            <th>POS nr.</th>
            <th>Klients</th>
            <th>Adrese</th>
            <th>Piegādes datums</th>
            <th>Komentārs</th>
            <th>Operators</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="invoice in replannedInvoices | filter: searchText">
            <td><span>{{ invoice.regDate | date:'yyyy-MM-dd'}}</span></td>
            <td><span>{{ invoice.invoiceIdentifier }}</span></td>
            <td><span>{{ invoice.clientPosNr }}</span></td>
            <td><span>{{ invoice.clientName }}</span></td>
            <td><span>{{ invoice.clientAddress }}</span></td>
            <td><span>{{ invoice.deliveryDate | date:'yyyy-MM-dd'}}</span></td>
            <td><span>{{ invoice.comment }}</span></td>
            <td><span>{{ invoice.operatorName }} {{ invoice.operatorSurname }}</span></td>
            <td><span>
                <button ng-show="!invoice.replanned && (hasPermission('MAIN_OPERATOR') || hasPermission('OPERATOR'))"
                        type="button"
                        ng-click="editInvoice(invoice)" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-show="!invoice.replanned && (hasPermission('MAIN_OPERATOR') || hasPermission('OPERATOR'))"
                        type="button"
                        ng-click="deleteInvoice(invoice.id)" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span></td>
        </tr>
        </tbody>
    </table>
</div>