<div class="page-header">
    <span><h2>Maršruti</h2></span>
</div>
<uib-tabset active="active">
    <uib-tab index="0" heading="Šodienas maršruti">
        <br/>
        <br>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="searchInput" class="col-sm-1 control-label">Meklēt:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="searchInput" placeholder="Meklēt" ng-model="searchText">
                </div>
            </div>
        </div>
        <div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Datums</th>
                    <th>Šifrs</th>
                    <th>Reģions</th>
                    <th>Šoferis</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="route in currentDayRoutes | filter: searchText" ng-click="openRouteDetails(route.id)">
                    <td><span>{{ route.date | date:'yyyy-MM-dd'}}</span></td>
                    <td><span>{{ route.code }}</span></td>
                    <td><span>{{ route.regionName }}</span></td>
                    <td><span>{{ route.driverName }} {{route.driverSurname}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Visi maršruti">
        <br>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="searchInputSecond" class="col-sm-1 control-label">Meklēt:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="searchInputSecond" placeholder="Meklēt" ng-model="searchText">
                </div>
            </div>
        </div>
        <div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Datums</th>
                    <th>Šifrs</th>
                    <th>Reģions</th>
                    <th>Šoferis</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="route in routes | filter: searchText" ng-click="openRouteDetails(route.id)">
                    <td><span>{{ route.date | date:'yyyy-MM-dd'}}</span></td>
                    <td><span>{{ route.code }}</span></td>
                    <td><span>{{ route.regionName }}</span></td>
                    <td><span>{{ route.driverName }} {{route.driverSurname}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
</uib-tabset>
