<div class="page-header">
    <span><h2>Maršruta kartiņa</h2></span>
</div>
<div class="row container-fluid" ng-show="editableRoute != null">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-sm-5">
                <label for="routeCode">Kods</label>
                <input type="text"
                       class="form-control"
                       id="routeCode"
                       value="{{editableRoute.code}}"
                       data-ng-readonly="true">
            </div>
            <div class="col-sm-5">
                <label for="routeDriver">Šoferis</label>
                <select class="form-control"
                        id="routeDriver"
                        convert-to-number
                        ng-model="editableRoute.driverId">
                    <option ng-repeat="driver in drivers" value="{{driver.id}}">{{driver.name}}
                        {{driver.surname}}
                    </option>
                </select>
            </div>
        </div>
        <br>
        <div>
            <button type="button" class="btn btn-primary"
                    ng-show="editableRoute!= null && (hasPermission('MAIN_OPERATOR') || hasPermission('OPERATOR'))"
                    ng-click="updateRoute()">Saglabāt
            </button>
            <button type="button" class="btn btn-default"
                    ng-show="editableRoute != null && (hasPermission('MAIN_OPERATOR') || hasPermission('OPERATOR'))"
                    ng-click="cancelEdit()">Atcelt
            </button>
        </div>
    </div>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Datums</th>
            <th>Šifrs</th>
            <th>Reģions</th>
            <th>Šoferis</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span>{{ route.date | date:'yyyy-MM-dd'}}</span></td>
            <td><span>{{ route.code }}</span></td>
            <td><span>{{ route.regionName }}</span></td>
            <td><span>{{ route.driverName }} {{route.driverSurname}}</span></td>
            <td><span>
                <button ng-show="hasPermission('MAIN_OPERATOR') || hasPermission('OPERATOR')" type="button"
                        ng-click="editRoute(route)" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </span></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="page-header">
    <span><h3>Maršruta klienti</h3></span>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th></th>
            <th>PPR numurs</th>
            <th>POS nr.</th>
            <th>Klienta nosaukums</th>
            <th>Klienta adrese</th>
            <th>Projekts</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="invoice in routeInvoices">
            <td><span><input type="checkbox" ng-model="invoice.selected"></span></td>
            <td><span>{{ invoice.invoiceIdentifier }}</span></td>
            <td><span>{{ invoice.clientPosNr }}</span></td>
            <td><span>{{ invoice.clientName }}</span></td>
            <td><span>{{ invoice.clientAddress }}</span></td>
            <td><span>{{ invoice.project }}</span></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <button type="button" ng-click="rescheduleInvoices()"
            class="btn btn-success">Pārplānot
    </button>
</div>
<div class="page-header">
    <span><h3>Maršruta karte</h3></span>
</div>
<div>
    <ng-map zoom="12" center="{{routeInvoices[0].lat}},{{routeInvoices[0].lng}}" >
        <marker ng-repeat="invoice in routeInvoices" position="[{{invoice.lat}}, {{invoice.lng}}]" ></marker>
        <shape name="polyline" id="routeLine"
               path="{{path}}"
               stroke-color="#18bc9c"
               stroke-opacity="1.0"
               stroke-weight="3">
        </shape>
    </ng-map>
</div>