<div class="page-header">
    <span><h2>Lietotāji</h2></span>
</div>
<div class="row container-fluid" ng-show="editableUser != null">
    <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-3">
                    <label for="username">Lietotājvārds</label>
                    <input type="text"
                           class="form-control"
                           id="username"
                           value="{{editableUser.username}}"
                           ng-model="editableUser.username">
                </div>
                <div class="col-sm-3">
                    <label for="role">Loma</label>
                    <select class="form-control"
                            id="role"
                            ng-model="editableUser.role">
                        <option ng-repeat="role in roles" value="{{role}}">{{role}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="password">Parole</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           value="{{editableUser.password}}"
                           ng-model="editableUser.password">
                </div>
                <div class="col-sm-3">
                    <label for="confirm">Atkārtot paroli</label>
                    <input type="password"
                           class="form-control"
                           id="confirm"
                           value="{{editableUser.confirmedPassword}}"
                           ng-model="editableUser.confirmedPassword">
                </div>
            </div>

        <br>
        <div>
            <button type="button" class="btn btn-primary"
                    ng-show="editableUser != null && hasPermission('MAIN_OPERATOR')"
                    ng-click="updateUser()">Saglabāt
            </button>
            <span> </span>
            <button type="button" class="btn btn-default"
                    ng-show="editableUser != null && hasPermission('MAIN_OPERATOR')"
                    ng-click="cancelEdit()">Atcelt
            </button>
        </div>
    </div>
</div>
<br>
<div class="form-horizontal">
    <div class="form-group">
        <label for="searchInput" class="col-sm-1 control-label">Meklēt:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Meklēt" ng-model="searchText">
        </div>
        <!--<button type="button" ng-click="createNewUser()" ng-show="hasPermission('MAIN_OPERATOR')"-->
                <!--class="btn btn-success float-right">Pievienot jaunu darbinieku-->
        <!--</button>-->
        <button type="button" ng-click="createNewEmployeeUser()" ng-show="hasPermission('MAIN_OPERATOR')"
                class="btn btn-success float-right">Pievienot eksistējošo darbinieku
        </button>
    </div>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Lietotājvārds</th>
            <th>Vārds</th>
            <th>Uzvārds</th>
            <th>Amats</th>
            <th>Nodaļa</th>
            <th>Loma</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | filter: searchText">
            <td><span>{{ user.username }}</span></td>
            <td><span>{{ user.name }}</span></td>
            <td><span>{{ user.surname }}</span></td>
            <td><span>{{ user.positionName }}</span></td>
            <td><span>{{ user.department }}</span></td>
            <td><span>{{ user.role }}</span></td>
            <td><span>
                <button ng-show="hasPermission('MAIN_OPERATOR')" type="button"
                        ng-click="editUser(user)" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-show="hasPermission('MAIN_OPERATOR')" type="button"
                        ng-click="deleteUser(user.userId)" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span></td>
        </tr>
        </tbody>
    </table>
</div>