<form class="form-group">
    <div class="col-sm-5">
        <div class="form-group">
            <label for="warhemplName">Vārds</label>
            <input type="text"
                   class="form-control"
                   id="warhemplName"
                   placeholder="Vārds"
                   value="{{warhempl.name}}"
                   ng-model="warhempl.name"
                   data-ng-readonly="readonly">
        </div>
        <div class="form-group">
            <label for="warhemplSurname">Uzvārds</label>
            <input type="text"
                   class="form-control"
                   id="warhemplSurname"
                   placeholder="Uzvārds"
                   value="{{warhempl.surname}}"
                   ng-model="warhempl.surname"
                   data-ng-readonly="readonly">
        </div>
        <div class="form-group">
            <label for="warhemplDepartment">Nodaļa</label>
            <select class="form-control"
                    id="warhemplDepartment"
                    ng-model="warhempl.department.id"
                    convert-to-number
                    data-ng-disabled="readonly">
                <option ng-repeat="dep in departments" value="{{dep.id}}">{{dep.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="warhemplPosition">Amats</label>
            <select class="form-control"
                    id="warhemplPosition"
                    ng-model="warhempl.position.code"
                    data-ng-disabled="readonly">
                <option ng-repeat="pos in positions" value="{{pos.code}}">{{pos.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="warhemplRegion">Reģions</label>
            <select class="form-control"
                    id="warhemplRegion"
                    ng-model="warhempl.region.code"
                    data-ng-disabled="readonly">
                <option ng-repeat="reg in regions" value="{{reg.code}}">{{reg.name}}</option>
            </select>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox"
                       class="form-check-input"
                       ng-checked="warhempl.active"
                       ng-model="warhempl.active"
                       data-ng-disabled="readonly">
                Aktīvs
            </label>
        </div>
        <div><br>
            <button type="button" class="btn btn-success" ng-click="changeReadonly()"
                    ng-show="readonly && hasPermission('MAIN_OPERATOR')">Labot</button>
            <button type="button" class="btn btn-danger" ng-click="deleteWarhempl(warhempl.id)"
                    ng-show="readonly && hasPermission('MAIN_OPERATOR')">Dzēst</button>
            <button button-back type="button" class="btn btn-default" ng-show="readonly">Atpakaļ</button>
            <button type="button" class="btn btn-primary" ng-click="updateWarhempl(warhempl.id, warhempl)"
                    ng-show="!readonly">Saglabāt
            </button>
            <button type="button" class="btn btn-default" ng-click="cancelEdit()" ng-show="!readonly">Atcelt
            </button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group" ng-repeat="contact in warhempl.employeeContactInfoList">
            <label for="contact{{$index}}">Kontaktinformācija</label>
            <div class="row">
                <div class="col-sm-5">
                    <select class="form-control"
                            id="contactType"
                            ng-model="contact.type"
                            data-ng-disabled="readonly">
                        <option ng-repeat="cont in contactInfoTypes" value="{{cont.code}}">{{cont.name}}</option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <input type="text"
                           class="form-control"
                           id="contact{{$index}}"
                           value="{{contact.contact}}"
                           ng-model="contact.contact"
                           data-ng-readonly="readonly">
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-danger btn-sm" ng-show="!readonly && (contact.id == null || hasPermission('MAIN_OPERATOR'))"
                            ng-click="deleteContactInfo($index)"><span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right col-sm-1">
        <div class="form-group">
            <label> </label>
            <button type="button" class="btn btn-success" ng-show="!readonly" ng-click="addNewContactInfo()">
                <span class="glyphicon glyphicon-plus"></span> Kontaktinformācija
            </button>
        </div>
    </div>
</form>