<div class="page-header">
    <span><h2>Noliktavas</h2></span>
</div>

<uib-tabset active="active">
    <uib-tab index="$index + 1" ng-repeat="warh in warehouses" heading="{{warh.name}}" select="getInfo(warh)">
        <br/>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="searchInput" class="col-sm-1 control-label">Meklēt:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="searchInput" placeholder="Meklēt" ng-model="searchText">
                </div>
                <button type="button" ng-click="createNewEmployee()"
                        class="btn btn-success float-right">Pievienot jaunu
                </button>
            </div>
        </div>
        <div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>Amats</th>
                    <th>Reģions</th>
                    <th>Kontaktinformācija</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="empl in employees | filter: searchText" ng-click="openWarehouseEmployeeProfile(empl.id)">
                    <td><span>{{ empl.name }}</span></td>
                    <td><span>{{ empl.surname }}</span></td>
                    <td><span>{{ empl.position.name }}</span></td>
                    <td><span>{{ empl.region.name }}</span></td>
                    <td><span ng-repeat="contact in empl.employeeContactInfoList">{{ contact.contact }}<br></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
</uib-tabset>

<div>
    <span><h4>Atrašanas vieta</h4></span>
    <label for="address">
        Adrese:
    </label>
    <span id="address"> {{address}}</span>
    <ng-map id="map" center="{{coordinates}}" zoom="16">
        <marker position="{{coordinates}}"
                animation="null" draggable="false"></marker>
    </ng-map>
</div>