html {
    background-color: #2F2F2F;
}

body, #mainWrapper {
    height: 100%;
    background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #18bc9c 100%, #AAAAAA 100%);
}

body, #mainWrapper, .form-control {
    font-size: 12px !important;
}

#mainWrapper {
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.login-container {
    margin-top: 100px;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}

.login-form {
    padding: 10%;
}