<!doctype html>
<html>
<head>
    <base href="http://localhost:8080/ksois/">
    <title>KSOIS</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <link href="https://bootswatch.com/flatly/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.css">

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUd1jcxLQgBhlzkNJt6m8InAkfiYCkcUg" async
            defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.js"></script>
</head>
<body ng-app="ksoisApp" ng-controller="MainController">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-road"></span><strong> KSOIS</strong></a>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/problems/newProblem" class="btn btn-success"><span
                        class="glyphicon glyphicon-plus"></span> Jauna
                    problēma</a></li>
                <li class="dropdown" style="margin-right: 50px">
                    <a href="" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">{{user.username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/">Iestatījumi</a></li>
                        <li><a href="#/">Profils</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="logout()">Iziet</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row row-margin-top-50">
    <side-menu></side-menu>
    <div class="col-sm-9">
        <div style="margin-top: 20px;" data-ui-view></div>
    </div>
</div>
</div>


<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/MainController.js"></script>
<script src="js/controllers/TestController.js"></script>
<script src="js/controllers/NavigationController.js"></script>
<script src="js/controllers/MapController.js"></script>
<script src="js/controllers/ManagersController.js"></script>
<script src="js/controllers/ManagerProfileController.js"></script>
<script src="js/controllers/NewEmployeeController.js"></script>
<script src="js/controllers/DriversController.js"></script>
<script src="js/controllers/DriverProfileController.js"></script>
<script src="js/controllers/WarehouseController.js"></script>
<script src="js/controllers/WarehouseEmplProfileController.js"></script>
<script src="js/controllers/ClientsController.js"></script>
<script src="js/controllers/ClientProfileController.js"></script>
<script src="js/controllers/NewClientController.js"></script>
<script src="js/controllers/ProjectsController.js"></script>
<script src="js/controllers/ProblemsController.js"></script>
<script src="js/controllers/ProblemProfileController.js"></script>
<script src="js/controllers/NewProblemController.js"></script>
<script src="js/controllers/UsersController.js"></script>
<script src="js/controllers/NewUserController.js"></script>
<script src="js/controllers/OperatorProblemsController.js"></script>
<script src="js/controllers/RoutesController.js"></script>
<script src="js/controllers/RouteProfileController.js"></script>
<script src="js/controllers/ReplannedInvoicesController.js"></script>

<!-- Services -->
<script src="js/services/EmployeeService.js"></script>
<script src="js/services/ClassifierService.js"></script>
<script src="js/services/DepartmentService.js"></script>
<script src="js/services/LogoutService.js"></script>
<script src="js/services/UserService.js"></script>
<script src="js/services/ClientService.js"></script>
<script src="js/services/ProjectService.js"></script>
<script src="js/services/ProblemService.js"></script>
<script src="js/services/ProblemCommentService.js"></script>
<script src="js/services/RouteService.js"></script>
<script src="js/services/ReplannedInvoiceService.js"></script>

<!-- Directives -->
<script src="js/directives/sideMenu.js"></script>
<script src="js/directives/buttonBack.js"></script>
<script src="js/directives/ngMap.js"></script>
<script src="js/directives/angular-ui-notification.js"></script>
<script src="js/directives/convertToNumber.js"></script>
<script src="js/directives/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/directives/angucomplete.js"></script>

</body>
</html>